body{
    background-color: #B5C98F !important;
}

.well{
    background-color: #FFFFFF !important;
}

.navbar-color {
    background-color: #B5C98F !important;
}

#content.compact-page {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: 200px;
}

#content {
margin: 0 -10px;
clear: both;
}

.min {
width: 300px;
}

#logo img{
    margin-left: -25px;
    height:130px;
    width:130px;
}

#content.compact-page #logo {
    text-align: center;
}

.navbar-inverse .navbar-nav>li>a {
    color: black;
}

.navbar-inverse .navbar-brand {
    color: black;
}

#logowelcome{
    width:150px;
    height:150px;
    padding-bottom:15px;
}

.panel{
    padding:0;
    border-top: 0.5px solid #a5c39b;
    border-right: 0.5px solid #a5c39b;
}

.row{
    margin-right:0;
    margin-left:0;
}

.panel-default > .panel-heading {
    background-color: #a5c39b;
    color: white;
}

.jumbotron {
    background-image: url('Exterior-frontdoor.jpg');
    color:white;
}

#content.compact-page {
    background-color: #a5c39b;
    border: 1px solid black;
    padding: 10px;
    padding-right: 0;
    border-radius: 15px;
    box-shadow: 3px 3px 5px #888888;
}

.jumbotron.col-md-6{
    padding:0;
}

.body-content{
    padding-top:5px;
}

body{
    padding-top:0px;
}

.right{
    position: absolute;
    right: 0;
}

/*.carousel-inner > .item > img, .carousel-inner > .item > a > img{
    height:400px;
}

.carousel-image{
    width:auto;
    height:700px;
    max-height:700px;
    overflow:hidden;
}

.carousel {
    max-height: 700px;
    overflow: hidden;
}*/