@model IEnumerable<HospiceNiagara.Models.Announcement>

<ul class="list-group">

    @foreach (HospiceNiagara.Models.Announcement item in ViewBag.AnnounceList)
    {
        <li class="list-group-item">
            @item.Content
        </li>
    }

</ul>