@model IEnumerable<HospiceNiagara.Models.Announcement>

<ul class="list-group">

    @foreach (HospiceNiagara.Models.Announcement item in ViewBag.AnnounceList)
    {
        if (item.IsNew && User.Identity.IsAuthenticated)
        {
            @:<li class="list-group-item" style="background-color:#c98fb5;">
        }
        else
        {
            @:<li class="list-group-item">
        }
        if (item.IsNew && User.Identity.IsAuthenticated)
        {
            @:<b>*NEW*</b>
        }
        @item.Title
    @:</li>
    }

</ul>