@model IEnumerable<HospiceNiagara.Models.DeathNotice>

<ul class="list-group">
    
    @foreach (HospiceNiagara.Models.DeathNotice item in ViewBag.DNList)
    {
        if (item.IsNew && User.Identity.IsAuthenticated)
        {
            @:<li class="list-group-item" style="background-color:#c98fb5;">
        }
        else
        {
            @:<li class="list-group-item">
        }
            @item.Date.ToLongDateString()
        @:</li>
    }
</ul>
