@*
    Priority:

    - P2 = Prototype 2
    - P3 = Prototype 3

    TO DO (COPY WHAT'S IN THE [ ] AND CTRL + F TO FIND THE SECTION):

    - Schedules [SCDL]: (P2) Hopefully we can get an import from outlook feature going for this area. Remember to include schedules three months ahead of time and three months previous.

    If you've finished one of these points, place a *DONE* at the beginning of the point.
*@

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*[SCDL]*@
<h2>Schedules</h2>
<button type="button" class="btn btn-link" data-toggle="modal" data-target="#modal">
    Add New Schedule
</button> 
<br />
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
                <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Welcome Desk Schedule
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        February 2015 <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">February 2015</a></li>
                        <li><a href="#">March 2015</a></li>
                        <li><a href="#">April 2015</a></li>
                        <li class="divider"></li>
                        <li><a href="#">January 2015</a></li>
                        <li><a href="#">December 2014</a></li>
                    </ul>
                </div>
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Residential Schedule
                </a>
            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        February 2015 <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">February 2015</a></li>
                        <li><a href="#">March 2015</a></li>
                        <li><a href="#">April 2015</a></li>
                        <li class="divider"></li>
                        <li><a href="#">January 2015</a></li>
                        <li><a href="#">December 2014</a></li>
                    </ul>
                </div>
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingThree">
            <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Pet Therapy
                </a>
            </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="panel-body">
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        February 2015 <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">February 2015</a></li>
                        <li><a href="#">March 2015</a></li>
                        <li><a href="#">April 2015</a></li>
                        <li class="divider"></li>
                        <li><a href="#">January 2015</a></li>
                        <li><a href="#">December 2014</a></li>
                    </ul>
                </div>
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
            </div>
        </div>
    </div>
</div>