@model IEnumerable<HospiceNiagara.Models.Schedule>


<div>Warning: There is already an active @ViewBag.Category for @ViewBag.Month @ViewBag.Year. Continue with this opeation to make this the active schedule.</div>