@model IEnumerable<HospiceNiagara.Models.Announcement>

<ul class="list-group">
    @foreach (var item in Model)
    {
        if (item.IsNew && User.Identity.IsAuthenticated)
            {
                @:<li class="list-group-item" style="background-color:#c98fb5;">
            }
        else
        {
            @:<li class="list-group-item">
        }
        if (item.IsNew && User.Identity.IsAuthenticated)
            {
                @:<b>*NEW*</b>
            }
            @Ajax.ActionLink(item.Title, "Details", new { id = item.ID }, new AjaxOptions { UpdateTargetId = "someDiv", InsertionMode = InsertionMode.Replace, HttpMethod = "Get" }, new { @class = "details" })
            if (User.IsInRole("Administrator"))
            {
                @:(
                @Ajax.ActionLink("Edit", "Edit", new { id = item.ID }, new AjaxOptions { UpdateTargetId = "showModal", InsertionMode = InsertionMode.Replace, HttpMethod = "Get" }, new { @class = "showModal" }); @:|
                @Ajax.ActionLink("Delete", "Delete", new { id = item.ID }, new AjaxOptions { UpdateTargetId = "showModal", InsertionMode = InsertionMode.Replace, HttpMethod = "Get" }, new { @class = "showModal" })
                @:)
            }
        @:</li>
    }
</ul>

<div id="showModal">
</div>