@model IEnumerable<HospiceNiagara.Models.Announcement>
    <ul class="list-group">
        @if (ViewBag.AnnounceList != null) { 
        foreach (HospiceNiagara.Models.Announcement item in ViewBag.AnnounceList)
        {
            <li class="list-group-item">
                @Ajax.ActionLink(@item.Content, "Details", new { id = item.ID }, new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "Get" })
            </li>
        }
        }
    </ul>
