@model HospiceNiagara.Models.Announcement
<div>
    @Ajax.ActionLink("Edit", "Edit", new { id = model.ID }, new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "Get" }) |
    @Ajax.ActionLink("Delete", "Delete", new { id = model.ID }, new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "Get" })
</div>
