@{
    ViewBag.Title = "Announcements";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    textarea{
        max-width: 100%;
        width: 100%;
    }
</style>
<div class="col-md-12">
    @*@if (User.IsInDomain("Staff") || User.IsInDomain("Board") || User.IsInDomain("Organizational") || User.IsInRole("Volunteer") || User.IsInRole("Day Hospice") || User.IsInRole("Welcome Desk") || User.IsInRole("Residential") || User.IsInRole("New Volunteers") || User.IsInRole("Community") || User.IsInRole("Bereavement"))*@
    @if(User.HasDNView())
    {
    <div class="row">
        @Html.ActionLink("See Death Notices", "Index", "DeathNotices")
    </div>
    }
    <h2>Announcements</h2>
    <br />
    <div class="panel panel-default col-lg-6">
        <!-- Default panel contents -->
        <div class="panel-heading">
            <b>Announcements</b> 
            @Html.Partial("_Badge")
            @if (User.IsInRole("Administrator"))
            {
                @Ajax.ActionLink("Add new...", "Create", new { showModal = true }, new AjaxOptions { UpdateTargetId = "showModal", InsertionMode = InsertionMode.Replace, HttpMethod = "Get" }, new { @class = "showModal" })
            }
        </div>
        <div class="panel-body">
            <!-- Modal -->
            <div id="announceList">
                @Html.Partial("_AnnounceList")
            </div>
        </div>
    </div>
    <div class="panel panel-default col-lg-6">
        <!-- Default panel contents -->
        <div class="panel-heading">
            <b>Details</b>
        </div>
        <div class="panel-body" id="someDiv">
        </div>
    </div>    
</div>
